<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>

<nz-spin [nzSpinning]="false">
  <form nz-form [formGroup]="myForm" novalidate>
    <!-- <ng-template #controlErrorTpl let-control>
      <app-render-errors [control]="control"></app-render-errors>
    </ng-template>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Mã dịch vụ cộng thêm</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhập mã dịch vụ cộng thêm" formControlName="valueAddedServiceCode"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Tên dịch vụ cộng thêm</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhập tên dịch vụ cộng thêm" formControlName="valueAddedServiceName"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> -->
    <div class="text-center mt-2">
<!--      <ng-container *ngIf="mode !== 'view'">-->
<!--        <button nz-button [nzLoading]="isSubmit" class="btn btn-primary mr-2 w-2" (click)="save()">-->
<!--          Ghi-->
<!--        </button>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="!(mode === 'view' || mode === 'edit')">-->
<!--        <button nz-button [nzLoading]="isSubmit" class="btn btn-primary mr-2" (click)="save(true)">-->
<!--          Ghi và thêm mới-->
<!--        </button>-->
<!--      </ng-container>-->
      <button class="btn btn-light" type="button" (click)="closeDialog()">Đóng</button>
    </div>
  </form>
</nz-spin>
