<nz-spin [nzSpinning]="!isInit">
  <nz-select [class]="classControl" [nzShowSearch]="allowSearch" [nzAllowClear]="allowClear" [hidden]="hidden"
    [nzDisabled]="disabled" [(ngModel)]="controlValue" [nzClearIcon]="selectIconClose"
    [nzPlaceHolder]="!disabled ? placeholder : ''" (nzOnSearch)="onSearch($event)" (ngModelChange)="onChange()"
    (nzScrollToBottom)="loadMore()" [nzServerSearch]="!!apiService">
    <ng-container *ngFor="let item of items">
      <nz-option [nzLabel]="item.text" [nzValue]="item.value" [nzDisabled]="item.disabled">
      </nz-option>
    </ng-container>
    <ng-container *ngFor="let item of listItemBonus">
      <nz-option [nzLabel]="item.text" [nzValue]="item.value" [nzDisabled]="item.disabled">
      </nz-option>
    </ng-container>
    <ng-container *ngFor="let item of listOption">
      <nz-option [nzLabel]="item.text" [nzValue]="item.value" [nzDisabled]="item.disabled">
      </nz-option>
    </ng-container>
    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
      <i nz-icon nzType="loading" class="loading-icon"></i> Đang tải dữ liệu...
    </nz-option>
  </nz-select>
</nz-spin>
<ng-template #selectIconClose>
  <i nz-icon nzType="close-circle" nzTheme="fill" (click)="onClear()"></i>
</ng-template>