<p>{{'text nhieu chuw nha text nhieu chuw nha text nhieu chuw nha ' | textMore}}</p>
<nz-divider nzOrientation="left" nzText="Thông tin chung"></nz-divider>
<img src="assets/images/image.png" width="100" height="100">
<form nz-form nz-form [formGroup]="myForm" novalidate (ngSubmit)="submitForm()">
  <ng-template #controlErrorTpl let-control>
    <app-render-errors [control]="control"></app-render-errors>
  </ng-template>
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <nz-form-item>-->
<!--        <nz-form-label nzRequired>Mã dịch vụ cộng thêm</nz-form-label>-->
<!--        <nz-form-control [nzErrorTip]="controlErrorTpl">-->
<!--&lt;!&ndash;          <input formControlName="text"/>&ndash;&gt;-->
<!--          <input-text placeholder="Nhập mã dịch vụ cộng thêm" formControlName="fullName"></input-text>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <nz-form-item>-->
<!--        <nz-form-label nzRequired>note</nz-form-label>-->
<!--        <nz-form-control [nzErrorTip]="controlErrorTpl">-->
<!--          <input-textarea placeholder="Nhập mã dịch vụ cộng thêm" formControlName="note"></input-textarea>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->
<!--  </div>-->

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
<!--    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">-->
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="controlErrorTpl">
      <app-input-number formControlName="number"></app-input-number>
    </nz-form-control>
  </nz-form-item>
  <ng-container>
    <div>
      <button nz-button nzType="primary" class="mr-2" type="button" (click)="submitForm()">get value</button>
    </div>
    {{ myFormValueText }}
    <br/>
    <div>
      <button nz-button nzType="primary" type="button" (click)="onDisable()">disable all</button>
    </div>
    <br/>
    <div>
      <button nz-button nzType="primary" type="button" (click)="onEnable()">enable all</button>
    </div>
    <br/>
    <div>
      <button nz-button nzType="primary" type="button" (click)="onOpenDialog()">Open dialog</button>
    </div>
    <br/>
    <div>
      <button nz-button nzType="primary" type="button" (click)="onBindError()">bind errors</button>
    </div>
  </ng-container>
</form>
