<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>

<nz-spin [nzSpinning]="false">
  <form nz-form [formGroup]="myForm" novalidate>
    <ng-template #controlErrorTpl let-control>
      <app-render-errors [control]="control"></app-render-errors>
    </ng-template>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>userName</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhap userName" formControlName="userName"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>password</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhập password" formControlName="password"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>fullName</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhap full name" formControlName="fullName"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label>address</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhập address" formControlName="address"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label>DOB</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhap DOB" formControlName="dob"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label>Avatar</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="Nhập avatar" formControlName="avatar"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="text-center mt-2">
            <ng-container *ngIf="mode !== 'view'">
              <button nz-button [nzLoading]="isSubmit" class="btn btn-primary mr-2 w-2" (click)="save()">
                Ghi
              </button>
            </ng-container>
            <ng-container *ngIf="!(mode === 'view' || mode === 'edit')">
              <button nz-button [nzLoading]="isSubmit" class="btn btn-primary mr-2" (click)="save(true)">
                Ghi và thêm mới
              </button>
            </ng-container>
      <button class="btn btn-light" type="button" (click)="closeDialog()">Đóng</button>
    </div>
  </form>
</nz-spin>

