/* You can add global styles to this file, and also import other style files */
//@import 'variables';

.navbar-brand {
  margin-right: 0px;
}

.radius-0 {
  border-radius: 0;
}

.page-title {
  padding: 15px 0;
}

.header-elements {
  >.btn {
    margin-left: 7px;
  }
}

body{
  background-color: unset;
}

// .ant-collapse-header {
//   line-height: 10px !important;
// }

// .ant-collapse-header {
//   &[aria-expanded="true"] {
//     background-color: #4b97df;
//     color: white !important;
//     font-weight: 600;
//   }
// }

.btn {
  padding: 5px 8px;
}

[nz-icon] {
  vertical-align: 1px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  height: 32px;
  padding: 4px 11px;
  font-size: 14px;

  &.ant-input-number {
    padding: unset;
  }

  &:disabled {
    color: #333;
  }
}

.ant-select {
  color: #333;
}

.ant-select-disabled {
  color: #333;
}

.ant-radio-disabled+span {
  color: #333;
}

.ant-radio-disabled .ant-radio-inner {
  border-color: #333 !important;

  &::after {
    background-color: #333;
  }
}

.ant-input[disabled] {
  color: #333;
}

.ant-input-number-disabled {
  color: #333;
}

.ant-modal {
  color: #333;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.content-wrapper {
  >.content-body {
    flex-grow: 1;
  }
}

table {

  th,
  tr {
    padding: 6px 10px;
    color: black;
  }

  thead {
    th {
      background-color: #f2f5f7;
      font-weight: 700;

      &.action {
        width: 100px;
      }
    }
  }
}

.display-flex {
  display: flex;
}

.ant-modal-close {
  &:focus {
    outline: none;
  }
}

// nz-input-number{
//   padding: 0px !important;
//   .ant-input-number-handler-wrap{
//     right: 11px;
//     height: 30px;
//     top: 27px;
//     opacity: 0.5;
//   }
// }

.page-content {
  //min-height: calc(100vh - 50px);
  //min-height: 800px;
}

// nz-form-label {
//   label {
//     margin-bottom: unset;
//   }
// }

.custom-control {
  padding: 0;
}

.ant-table-fixed {
  thead {
    tr {
      th {
        background-color: #f5f5f5 !important;

        &.stt {
          width: 63px !important;
          text-align: center;
        }

        &.action {
          width: 130px !important;
          text-align: center;
        }
      }
    }
  }
}

// form[nz-form] {
//   nz-form-label {
//     text-align: left;
//   }
// }

.sidebar-main {
  font-size: 14px;
}

.input-group {
  .input-group-text {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }
}

.form-control:not(.border-1):not(.border-2):not(.border-3):focus {
  border-color: #40a9ff;
}

.nav-tabs-small {
  .navbar-nav-link {
    padding: 10px 12px;
  }
}

//tab-validate-style
.accordion {
  legend {
    cursor: pointer;

    &:not(.collapsed) {
      i {
        transform: rotate(90deg);
      }

      &:not(.text-danger-300) {
        color: #1890ff;
        border-bottom-color: #63b1f9;
      }

      &.text-danger-300 {
        border-bottom-color: #e57373;
      }

      // &.border-danger-300{
      //   border-color: #e57373;
      // }
    }

    &:hover {
      color: #1890ff !important;
    }
  }
}

.data-link {
  color: black;
}

.ant-form {
  legend {
    font-size: 0.75rem;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
  }
}

.ant-calendar-input-wrap {
  display: none;
}

.ant-form-item-label>label::after {
  content: "";
}

.ant-form-item-required {
  &::before {
    display: none !important;
  }

  &::after {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*" !important;
  }
}

fieldset {
  legend {
    color: #1890ff !important;
    border-bottom-color: #63b1f9 !important;
  }

  .text-danger-300 {
    color: #e57373 !important;
    border-bottom-color: unset !important;
    border-bottom: 1px solid #e57373;
  }
}

// .ng-invalid {
//   > .ng-touched {
//     background-color: #fff !important;
//     border-color: #f5222d !important;
//   }
// }

.ant-table-header-column {
  width: 100%;

  .ant-table-column-sorters {
    width: 100%;
  }
}

nz-form-item {
  nz-form-label.ant-form-item-label {
    //white-space: pre-wrap;
    text-align: left;
    width: 100%;
    //margin: 0 8px 0 3px;

    // label {
    //   line-height: 23.9999px;
    // }
  }
}

// .form-horizontal nz-form-item>nz-form-label {
//   flex-basis: 140px !important;
// }

.header-elements {
  text-align: center;
}

//@include tablet-and-mobile {
//  .icon-arrow-right13 {
//    margin-right: -0.375rem !important;
//  }
//
//  .ant-modal-body {
//    padding: 10px;
//
//    .mt-2 {
//      margin-top: 0px !important;
//    }
//
//    .btn {
//      margin-top: 10px;
//    }
//
//  }
//
//  .nav {
//    &.navbar-nav {
//      display: block;
//
//      li {
//        width: 100% !important;
//
//        a {
//          width: 100% !important;
//          margin-left: 0 !important;
//        }
//      }
//    }
//  }
//
//  .header-elements {
//    display: flex;
//    justify-content: center;
//
//    button {
//      display: block;
//    }
//  }
//}

//custom ui/ux

.ant-form-item-with-help {
  margin-bottom: 10px !important;
}

nz-form-item{
  position: relative;
  >nz-form-label{
    top: -15px;
    position: absolute !important;
    z-index: 9;
    height: auto !important;
    width: auto !important;
    padding-left: 5px;
    left: 10px;
    background-color: white;
    border-radius: 3px;
    >label{
      height: auto !important;
      margin: 0px !important;
    }
  }
}

.inner-content {
  min-height: calc(100vh - 112px);
}

// overide dialog size
.dialog-ms {
  width: 414px !important;
  //@include tablet-and-mobile{
  //  width: 100% !important;
  //}
}

.dialog-md {
  width: 768px !important;
  //@include tablet-and-mobile{
  //  width: 100% !important;
  //}
}

.dialog-lg {
  width: 1000px !important;
}

.dialog-max-lg{
  width: 80% !important;
  //@include tablet-and-mobile{
  //  width: 100% !important;
  //}
}

.dialog-full {
  width: calc(100% - 20px) !important;
  top: 60px;
  //@include tablet-and-mobile{
  //  width: 100% !important;
  //}
}
